.form__champ
  margin-bottom: 15px
  text-align: center
  font-size: 1.3rem

.form__presentation
  @include BlocPresentation

.form__message
  width: 90%
  border-radius: 15px
  padding: 4px

.button__form
  border-radius: 10px
  padding: 5px
  &:hover
    color: white
    background-color: black
    transition: all 0.5s


.contact__form
  border-radius: 10px
  font-size: 1.3rem
  padding: 2px
  width: 60%
  @media screen and (min-width: 600px) and (max-width: 1024px)
    width: 50%
  @media (min-width: 1024px)
    width: 35%