/* general Style */
* {
  margin: 0;
  padding: 0;
}

.link-style-none {
  text-decoration: none;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 4rem;
  }
}

body {
  margin: 0;
  background-color: #E2EFFF;
  font-size: 1.1rem;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: auto;
    width: 70%;
  }
}

.head-picture {
  width: 100%;
  height: 100%;
}

.head-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

h1 {
  position: absolute;
  color: yellow;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

.menu-nav {
  padding: 3px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #d3f2ff;
}

.header-menu-list {
  color: #2bbefd;
  padding: 4px;
}

.header-menu-list:hover {
  color: yellow;
  background-color: #2bbefd;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (min-width: 1024px) {
  .header-menu-list {
    font-size: 1.5rem;
  }
}

header {
  margin: 0;
}

.main__IndexSection {
  margin-bottom: 100px;
}

.footer-menu-list {
  list-style-type: none;
}

.footer-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  background-color: #dff9fb;
}

.footer-link {
  color: black;
}

.main__NewsSection {
  border: solid 1px #2bbefd;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 1.4rem;
  width: 90%;
  padding: 5px;
  background-color: #dcdde1;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

.CyclePicture {
  width: 75%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.ActuArticle {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.link-article {
  color: #2bbefd;
}

.section__calendar {
  text-align: center;
}

.form__champ {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.3rem;
}

.form__presentation {
  border: solid 1px #2bbefd;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 1.4rem;
  width: 90%;
  padding: 5px;
  background-color: #dcdde1;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

.form__message {
  width: 90%;
  border-radius: 15px;
  padding: 4px;
}

.button__form {
  border-radius: 10px;
  padding: 5px;
}

.button__form:hover {
  color: white;
  background-color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact__form {
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 2px;
  width: 60%;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contact__form {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .contact__form {
    width: 35%;
  }
}

.main__IndexSection {
  border: solid 1px #2bbefd;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 1.4rem;
  width: 90%;
  padding: 5px;
  background-color: #dcdde1;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

.main__presentation {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main__presentation {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .main__presentation {
    font-size: 2rem;
  }
}

.index__img {
  width: 90%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .index__img {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .index__img {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */